<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Contact details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body th:object="${contact}">
    <h1>Your Contact Information</h1>
    <fieldset>
      <em>Name:</em>
      <strong><span th:text="${contact.name}">..</span></strong>
      <br />
      <em>Email:</em><strong><span th:text="${contact.email}">..</span></strong>
      <br />
      <em>Phone number:</em></strong
      ><strong><span th:text="${contact.phoneNumber}">..</span></strong>
      <br />
    </fieldset>
  </body>
</html>
